<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowInternetPlugins</key>
	<true/>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>AllowSystem</key>
	<true/>
	<key>BackwardsCompatibleClassLookup</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Timer</string>
	<key>CFBundleIdentifier</key>
	<string>com.lucaspetter.widget.Timer</string>
	<key>CFBundleName</key>
	<string>Timer</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CloseBoxInsetX</key>
	<integer>15</integer>
	<key>CloseBoxInsetY</key>
	<integer>15</integer>
	<key>Height</key>
	<integer>234</integer>
	<key>MainHTML</key>
	<string>main.html</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 Lucas Bleackley Petter. http://www.lucaspetter.com/</string>
	<key>Width</key>
	<integer>210</integer>
</dict>
</plist>
